.registration-table {
  img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }
}

.registration_logs-table {
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
