---
http_interactions:
- request:
    method: get
    uri: https://bikeindex.org/api/v3/bikes/432199
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MzQ4MWRhODg2ODk3Yjc5YjlhYTg0N2Q0ZTc0MGZhMzM1YjI0OGFmOGZmOGQzMTEzNmQ5MjFlODU4ZjljMmI2MDpY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a99acdad92c47b5cb1f84aab48ab0ea"
    body:
      encoding: ASCII-8BIT
      string: '{"bike":{"id":432199,"title":"2018 Kona Big honzo st","serial":"f98bl2198","manufacturer_name":"Kona","frame_model":"Big
        honzo st","year":2018,"frame_colors":["Blue"],"thumb":"https://files.bikeindex.org/uploads/Pu/147262/small_IMG_3970.JPG","large_img":"https://files.bikeindex.org/uploads/Pu/147262/large_IMG_3970.JPG","is_stock_img":false,"stolen":false,"stolen_location":null,"date_stolen":null,"registration_created_at":1538234514,"registration_updated_at":1550168112,"url":"https://bikeindex.org/bikes/432199","api_url":"https://bikeindex.org/api/v1/bikes/432199","manufacturer_id":203,"paint_description":null,"name":"","frame_size":"","description":"My
        favorite mountain bike. I put holes in everything","rear_tire_narrow":true,"front_tire_narrow":null,"type_of_cycle":"Bike","test_bike":false,"rear_wheel_size_iso_bsd":null,"front_wheel_size_iso_bsd":null,"handlebar_type_slug":null,"frame_material_slug":null,"front_gear_type_slug":null,"rear_gear_type_slug":null,"stolen_record":null,"public_images":[{"name":"2018
        Kona Big honzo st Blue","full":"https://files.bikeindex.org/uploads/Pu/147262/IMG_3970.JPG","large":"https://files.bikeindex.org/uploads/Pu/147262/large_IMG_3970.JPG","medium":"https://files.bikeindex.org/uploads/Pu/147262/medium_IMG_3970.JPG","thumb":"https://files.bikeindex.org/uploads/Pu/147262/small_IMG_3970.JPG"},{"name":"2018
        Kona Big honzo st Blue","full":"https://files.bikeindex.org/uploads/Pu/136859/image.jpg","large":"https://files.bikeindex.org/uploads/Pu/136859/large_image.jpg","medium":"https://files.bikeindex.org/uploads/Pu/136859/medium_image.jpg","thumb":"https://files.bikeindex.org/uploads/Pu/136859/small_image.jpg"},{"name":"2018
        Kona Big honzo st Blue","full":"https://files.bikeindex.org/uploads/Pu/147263/IMG_3955.JPG","large":"https://files.bikeindex.org/uploads/Pu/147263/large_IMG_3955.JPG","medium":"https://files.bikeindex.org/uploads/Pu/147263/medium_IMG_3955.JPG","thumb":"https://files.bikeindex.org/uploads/Pu/147263/small_IMG_3955.JPG"},{"name":"2018
        Kona Big honzo st Blue","full":"https://files.bikeindex.org/uploads/Pu/147261/IMG_4006.JPG","large":"https://files.bikeindex.org/uploads/Pu/147261/large_IMG_4006.JPG","medium":"https://files.bikeindex.org/uploads/Pu/147261/medium_IMG_4006.JPG","thumb":"https://files.bikeindex.org/uploads/Pu/147261/small_IMG_4006.JPG"}],"components":[]}}'
  recorded_at: Thu, 14 Feb 2019 18:22:40 GMT
recorded_with: VCR 4.0.0
