.registrar-documentation-notes {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  hr {
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 200%;
    margin-top: 1rem;
  }
  h3 {
    font-size: 175%;
    margin-top: 1rem;
  }
  h4 {
    font-size: 140%;
    margin-top: 1rem;
  }
  strong {
    font-weight: bold;
  }
  small {
    font-size: 90%;
  }
  em {
    font-style: italic;
  }
  ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    ul {
      -webkit-margin-after: 0.5em;
      -webkit-margin-before: 0.25em;
    }
  }
  // Cribbed from swagger pre code
  code {
    display: inline-block;
    padding: 0 0.5em;
    background: #f0f0f0;
    font-family: monospace;
    font-size: 14px;
  }
}

// Override swagger styles with id, because fuccccck
#swagger-body {
  #header {
    color: #fff;
    background-color: #007bff !important;
    .header__btn {
      background-color: darken(#007bff, 15%);
    }
    .swagger-ui-wrap {
      padding-left: 50px;
    }
  }
}

.navbar-brand {
  color: #fff;
  opacity: 0.8;
  font-family: Droid Sans, sans-serif;
  position: absolute;
  padding: 18px 0 0 20px;
  font-size: 20px;
  top: 0;
  left: 0;
  text-decoration: none;
}
